@charset "UTF-8";
html { height: 100%; overflow: hidden; }

body { height: 100%; background: url("../images/attack/bg.png") center center no-repeat; overflow: auto; }

#fh-container { padding-bottom: 20px; }

#fh-container .attack-header { height: 43px; background: url("../images/attack/head_bg.png") repeat-x; }

#fh-container .attack-header .title { display: inline-block; margin-left: -4px; color: #fff; width: 178px; height: 43px; line-height: 43px; text-indent: 25px; font-size: 16px; font-weight: bold; background: url("../images/attack/icon2_42.png"); }

#fh-container .attack-bd { margin: 0 20px; }

#fh-container .attack-bd .crumbs { padding: 15px 0; }

#fh-container .attack-bd .crumbs a, #fh-container .attack-bd .crumbs em { color: #b8cced; font-style: normal; margin-right: 5px; }

#fh-container .attack-bd .crumbs span { color: #52ffff; }

#fh-container .attack-bd .filter-bar { position: relative; background: rgba(9, 36, 83, 0.6); padding: 20px 20px 10px; border: 1px solid #3e65cc; margin-bottom: 20px; }

#fh-container .attack-bd .filter-bar .form-cro-expand { background: transparent; padding: 0; margin: 0; border: 0; }

#fh-container .attack-bd .filter-bar .form-cro-expand .form-group { float: left; width: 250px; margin-right: 20px; }

#fh-container .attack-bd .filter-bar .form-cro-expand .form-group.time-group { width: 380px; }

#fh-container .attack-bd .filter-bar .form-cro-expand .form-group label { float: left; width: 70px; text-align: right; color: #ecf5fe; line-height: 32px; margin-right: 10px; }

#fh-container .attack-bd .filter-bar .form-cro-expand .form-group .form-control { width: 170px; outline: navajowhite; background: transparent; color: #ecf5fe; border-color: #3d65ca; }

#fh-container .attack-bd .filter-bar .form-cro-expand .form-group .form-control.attack-time { width: 300px; }

#fh-container .attack-bd .filter-bar .form-cro-expand .form-group .form-control:focus { border: 1px solid #7ba0ff; box-shadow: 0 0 0 transparent; }

#fh-container .attack-bd .filter-bar .form-cro-expand .form-group .form-control::-webkit-input-placeholder { color: #476fb7; }

#fh-container .attack-bd .main .result-list { width: 100%; }

#fh-container .attack-bd .main .result-list tr:nth-child(2n) td { background: #0d2b63; }

#fh-container .attack-bd .main .result-list tr:hover td { background: rgba(70, 119, 244, 0.43); }

#fh-container .attack-bd .main .result-list tr td { padding: 10px 0; color: #d7e6ff; background: rgba(2, 78, 143, 0.36); }

#fh-container .attack-bd .main .result-list tr td .has-export { display: inline-block; width: 56px; height: 44px; background: url("../images/attack/icon2_03.png"); }

#fh-container .attack-bd .main .result-list tr td .no-export { display: inline-block; width: 56px; height: 44px; background: url("../images/attack/icon2_20.png"); }

#fh-container .attack-bd .main .result-list tr td:first-child > div { border-left: 1px solid transparent; }

#fh-container .attack-bd .main .result-list tr td > div { height: 56px; padding: 0 30px; display: table-cell; vertical-align: middle; border-left: 1px solid #3c5786; }

#fh-container .attack-bd .main .result-list tr td p { margin-bottom: 0; line-height: 28px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

#fh-container .attack-bd .main .result-list tr td .code { font-style: normal; margin-left: 8px; color: #52ffff; }

#fh-container .attack-bd .main .result-list tr td .row { margin: 0; line-height: 28px; color: #b8cced; }

#fh-container .attack-bd .main .result-list tr td .row .web-name { color: #fff; font-weight: bold; margin-right: 5px; }

#fh-container .attack-bd .main .result-list tr td .num { color: #f6ff00; font-style: normal; font-size: 18px; }

#fh-container .attack-bd .main .basic-info { position: relative; padding: 0 10px 0 45px !important; }

#fh-container .attack-bd .main .basic-info .checkbox-beauty { position: absolute; left: 20px; top: 6px; }

#fh-container .attack-bd .main .basic-info .checkbox-beauty .text-label:before, #fh-container .attack-bd .main .basic-info .checkbox-beauty .text-label::before { background: #264988; border-color: #7ba0ff; border-radius: 0; }

#fh-container .attack-bd .main .basic-info p.name { color: #fff; font-weight: bold; }

#fh-container .attack-bd .main .basic-info p span { margin-right: 20px; }

#fh-container .attack-bd .layout-wrap { position: relative; padding-right: 480px; }

#fh-container .attack-bd .layout-wrap .right-content { position: absolute; right: 0; top: 0; bottom: 0; width: 460px; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list { background: rgba(2, 78, 143, 0.36); }

#fh-container .attack-bd .layout-wrap .right-content .rank-list .hd { height: 42px; line-height: 42px; color: #fff; font-weight: bold; border-bottom: 1px solid #19578f; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list .hd span { display: inline-block; line-height: 42px; text-indent: 20px; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list .hd span:nth-child(1) { width: 80px; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list .hd span:nth-child(2) { width: 290px; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul { margin: 0; padding: 0; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li { list-style: none; height: 50px; line-height: 50px; border-bottom: 1px dashed #2d5996; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li span { display: inline-block; line-height: 42px; text-indent: 20px; color: #fff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li span:nth-child(1) { width: 80px; position: relative; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li span:nth-child(1) i { display: block; position: relative; top: -2px; left: -2px; font-style: normal; width: 66px; height: 32px; line-height: 32px; text-align: center; padding-right: 18px; background: url("../images/attack/icon_33.png"); }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li span:nth-child(2) { width: 290px; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li span:nth-child(3) { font-size: 16px; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li:nth-child(1) span:nth-child(1) i { background: url("../images/attack/icon2_06.png"); }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li:nth-child(1) span:nth-child(3) { color: #ffc617; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li:nth-child(2) span:nth-child(1) i { background: url("../images/attack/icon2_23.png"); }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li:nth-child(2) span:nth-child(3) { color: #bbb2a4; }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li:nth-child(3) span:nth-child(1) i { background: url("../images/attack/icon2_30.png"); }

#fh-container .attack-bd .layout-wrap .right-content .rank-list ul li:nth-child(3) span:nth-child(3) { color: #c3944a; }

.page-wrap { padding: 18px 0; }

.frequency { color: #e7fa00; font-size: 18px; }

.fail-icon { display: inline-block; width: 45px; height: 45px; background: url("../images/attack/icon2_09.png"); }

.succeed-icon { display: inline-block; width: 45px; height: 45px; background: url("../images/attack/icon2_28.png"); }

.content-bg { background: transparent; border: 1px solid #3d65ca; box-shadow: 0 0 10px rgba(2, 78, 143, 0.36) inset; }

.content-bg .content-title { padding: 0 25px; height: 40px; line-height: 40px; background: linear-gradient(to bottom, #123372, #00569f); }

.content-bg .content-title .title-text { float: left; color: #fff; font-weight: bold; }

.content-bg .content-title .tip { float: left; margin-left: 10px; color: #87c2fa; }

.content-bg .content-title .tip i { font-style: normal; color: #f6ff00; }

.content-bg .content-title .opt-btn { float: right; margin-left: 10px; text-decoration: none; color: #8bb2e7; height: 40px; line-height: 40px; padding: 0 20px; border-bottom: 1px solid transparent; }

.content-bg .content-title .opt-btn .aidicon { position: relative; top: 2px; margin-right: 5px; }

.content-bg .content-title .opt-btn:hover { background: linear-gradient(to bottom, #1c3f8d, #2c6ece); border-color: #98bdff; color: #fff; }

.enter-clue { padding: 2px 10px; border-radius: 10px; background: #7787a8; color: #fff; cursor: pointer; }

.enter-clue:hover { background: #4784ff; }

/*fhui样式重置*/
.btn { border-radius: 3px; }

.btn.btn-default { background-color: #224688; color: #95bbff; border-color: #4871bc; }

.btn.btn-default:focus, .btn.btn-default:active { background-color: #437fea !important; color: #fff !important; border-color: #437fea !important; }

.btn.btn-default:hover { background-color: #437fea; color: #fff; border-color: #437fea; }

.btn.btn-primary { background-color: #427eec; color: #ecf5fe; }

.btn.btn-primary:hover { background-color: #437fea; color: #fff; border-color: #437fea; }

/*分页*/
.ai-pager .page-nos a:first-child, .ai-pager .page-nos span:first-child { display: none; }

.ai-pager .page-curr, .ai-pager .page-first, .ai-pager .page-first-dis, .ai-pager .page-jump, .ai-pager .page-last, .ai-pager .page-last-dis, .ai-pager .page-next, .ai-pager .page-next-dis, .ai-pager .page-no, .ai-pager .page-prev, .ai-pager .page-prev-dis, .ai-pager .page-rs { background-color: #234688 !important; color: #dceeff !important; border-color: #4771bb !important; }

.ai-pager .page-curr:hover, .ai-pager .page-first:hover, .ai-pager .page-first-dis:hover, .ai-pager .page-jump:hover, .ai-pager .page-last:hover, .ai-pager .page-last-dis:hover, .ai-pager .page-next:hover, .ai-pager .page-next-dis:hover, .ai-pager .page-no:hover, .ai-pager .page-prev:hover, .ai-pager .page-prev-dis:hover, .ai-pager .page-rs:hover { color: #fff; background-color: #2985F7 !important; border: #2578DF 1px solid !important; }

.ai-pager .page-curr:active, .ai-pager .page-curr:focus, .ai-pager .page-first:active, .ai-pager .page-first:focus, .ai-pager .page-first-dis:active, .ai-pager .page-first-dis:focus, .ai-pager .page-jump:active, .ai-pager .page-jump:focus, .ai-pager .page-last:active, .ai-pager .page-last:focus, .ai-pager .page-last-dis:active, .ai-pager .page-last-dis:focus, .ai-pager .page-next:active, .ai-pager .page-next:focus, .ai-pager .page-next-dis:active, .ai-pager .page-next-dis:focus, .ai-pager .page-no:active, .ai-pager .page-no:focus, .ai-pager .page-prev:active, .ai-pager .page-prev:focus, .ai-pager .page-prev-dis:active, .ai-pager .page-prev-dis:focus, .ai-pager .page-rs:active, .ai-pager .page-rs:focus { box-shadow: 0 0 0 transparent !important; }

body .ai-pager .page-curr { color: #fff; background-color: #2985F7 !important; border: #2578DF 1px solid !important; }

body .ai-pager .page-curr:active { box-shadow: 0 0 0 transparent; }

.ai-pager .page-info { color: #95bbfc !important; }

/*日历*/
body .layui-laydate, body .layui-laydate-hint { background: rgba(25, 66, 141, 0.9); border-color: #3d65ca; }

body .layui-laydate-header { color: #fff; border: 0; }

body .layui-laydate-header i { color: #fff; }

body .layui-laydate-content th { color: #7998cf; }

.layui-laydate-footer { border-top: 1px solid #47669c !important; }

.layui-laydate-content td { color: #bed0f2 !important; }

.layui-laydate-content .laydate-day-next, .layui-laydate-content .laydate-day-prev { color: #6f8ec6 !important; }

body .layui-laydate-footer .laydate-btns-time { color: #6698f1; }

body .laydate-footer-btns .laydate-btns-confirm { background-color: #427eeb !important; border-color: #427eeb !important; color: #fff !important; }

body .laydate-footer-btns span { background-color: #184089 !important; color: #95bbff !important; border-color: #4871bc !important; }

.layui-laydate-hint { color: #fff !important; }

body .layui-laydate-content td:hover, body .layui-laydate-list ol li:hover { background-color: #346acb !important; }

body .layui-laydate .layui-this { background-color: #5190ff !important; }

body .layui-laydate-content td.laydate-selected { background-color: #346acb !important; }

body .layui-laydate-header .laydate-time-text { color: #fff; }

.layui-laydate-list { background: rgba(25, 66, 141, 0.9) !important; }

body .laydate-time-list ol li { color: #fff; }

body .laydate-time-list p { color: #fff !important; }

body .layui-laydate-content td:hover, body .layui-laydate-list ol li:hover { color: #fff; }

body .layui-laydate .laydate-btns-confirm.laydate-disabled, body .layui-laydate .laydate-btns-confirm.laydate-disabled:hover { background-color: #427eeb !important; border-color: #427eeb !important; color: #fff !important; }

body .layui-laydate-content .laydate-year-list > li, body .layui-laydate-content .laydate-month-list > li { color: #fff; }

/*下拉*/
body .select2-container--default.select2-container--open .select2-selection--single { box-shadow: 0 0 0 transparent; }

body .select2-container--default .select2-selection--single, body .select2-container--default .select2-selection--single:hover { background-color: transparent; border-color: #3d65ca; color: #476fb7; }

body .select2-container--default .select2-selection--single .select2-selection__rendered { color: #fff; }

body .select2-dropdown { background: rgba(25, 66, 141, 0.9); }

body .select2-container--default.select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option { color: #becff1; }

body .select2-container--default.select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-selected=true] { color: #5190ff; }

body .layui-laydate-list ol::-webkit-scrollbar { width: 8px; }

body .layui-laydate-list ol::-webkit-scrollbar-track { background-color: transparent; }

body .layui-laydate-list ol::-webkit-scrollbar-thumb { border-radius: 4px; background-color: #fff; }

/*表格*/
body .dataTable thead tr, body .dataTable tfoot tr { background: rgba(2, 78, 143, 0.36); color: #fff; font-weight: bold; }

table.dataTable tbody tr { background: #0d2b63; color: #b8cced; }

body table.dataTable.stripe tbody tr.odd, body table.dataTable.display tbody tr.odd { background: rgba(2, 78, 143, 0.36); color: #b8cced; }

body table.dataTable.row-border tbody th, body table.dataTable.row-border tbody td, body table.dataTable.display tbody th, body table.dataTable.display tbody td { border-top: 1px solid transparent; }

body table.dataTable thead th, body table.dataTable thead td { border-bottom: 1px solid  #1b5696; }

body table.dataTable { border: none !important; }

body table.dataTable.stripe tbody tr.odd:hover, body table.dataTable.display tbody tr.odd:hover { background: rgba(70, 119, 244, 0.43); }

body table.dataTable.hover tbody tr:hover, body table.dataTable.display tbody tr:hover { background: rgba(70, 119, 244, 0.43); }

body table.dataTable.display tbody tr:hover > .sorting_1, body table.dataTable.display tbody tr:hover > .sorting_2, body table.dataTable.display tbody tr:hover > .sorting_3, body table.dataTable.order-column.hover tbody tr:hover > .sorting_1, body table.dataTable.order-column.hover tbody tr:hover > .sorting_2, body table.dataTable.order-column.hover tbody tr:hover > .sorting_3, body table.dataTable.display tbody tr.even > .sorting_1, body table.dataTable.display tbody tr.even > .sorting_2, body table.dataTable.display tbody tr.even > .sorting_3, body table.dataTable.order-column.stripe tbody tr.even > .sorting_1, body table.dataTable.order-column.stripe tbody tr.even > .sorting_2, body table.dataTable.order-column.stripe tbody tr.even > .sorting_3, body table.dataTable.display tbody tr.odd > .sorting_1, body table.dataTable.display tbody tr.odd > .sorting_2, body table.dataTable.display tbody tr.odd > .sorting_3, body table.dataTable.order-column.stripe tbody tr.odd > .sorting_1, body table.dataTable.order-column.stripe tbody tr.odd > .sorting_2, body table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 { background: rgba(255, 255, 255, 0.1); }

body table.dataTable.order-column thead > tr > th.sorting_asc, body table.dataTable.order-column thead > tr > th.sorting_desc, body table.dataTable.order-column thead > tr > td.sorting_asc, body table.dataTable.order-column thead > tr > td.sorting_desc, body table.dataTable.display thead > tr > th.sorting_asc, body table.dataTable.display thead > tr > th.sorting_desc, body table.dataTable.display thead > tr > td.sorting_asc, body table.dataTable.display thead > tr > td.sorting_desc { background-color: rgba(255, 255, 255, 0.1); }
